.header {
	position: absolute;
	width: 100%;
	padding-top: 30px;
	&__row {
		display: flex;
		justify-content: space-between;
	}
	&__logo {}
	&__logo-link {
		display: flex;
		flex-direction: column;
	}
	&__logo-title {
		font-size: 32px;
		letter-spacing: 2px;
		color: #F1CDB3;
		padding-bottom: 15px;

	}
	&__logo-subtitle {
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 13px;
		text-align: center;
		letter-spacing: 1.4px;
		color: #fff;

	}
	&__nav {}
	&__nav-list {
		height: 100%;
		display: flex;
		align-items: center;
		li {
			line-height: 10px;
			margin-right: 35px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&__nav-link {
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 15px;
		color: #CDCDCD;
		padding: 10px 0;
		transition: color 0.3s;
		position: relative;
		&:hover {
			color: #FAFAFA;
		}
		&:active {
			color: #FAFAFA;
			&::after {
				content: "";
				display: block;
				position: absolute;
				height: 3px;
				width: 100%;
				background-color: #F1CDB3;
				bottom: 4px;
			}
		}

	}
}

