@use "../abstract" as abs;

.header {
  position: absolute;
  inset-inline: 0;
  width: 100%;
  padding-block-start: 2rem;
  z-index: 10;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-link {
    display: flex;
    flex-direction: column;
  }

  &__logo-title {
    padding-block-end: 0.8125rem;
    font-family: abs.$font-family-heading;
    font-size: var(--font-size-logo);
    letter-spacing: 0.06em;
    color: var(--cta-primary);
  }

  &__logo-subtitle {
    font-size: var(--font-size-xs);
    text-align: center;
    letter-spacing: 0.1em;
    color: var(--text-accent);
  }

  &--light {
    .header__logo-title {
      color: var(--text-title);
    }

    .header__logo-subtitle {
      color: var(--text-dark);
    }
  }
}
