@use "../../abstract/" as abs;

.hero {
  background:
    url("../img/bg-gradient.png"),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
  display: flex;
  align-items: flex-end;

  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 2.625rem;
    margin-block-start: 11.25rem;
  }

  &__body {
    max-width: 28.75rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.625rem;
    align-self: start;
    margin-block-start: clamp(0px, 0px + 160 * (100vw - 768px) / 512, 160px);
  }

  &__title {
    font-family: abs.$font-family-heading;
    font-size: var(--font-size-xxl);
    line-height: 1.3;
    color: #ffffff;
    max-width: 21.875rem;
  }

  &__text {
    font-size: var(--font-size-sm);
    line-height: 1.6;
    color: #cdcdcd;
  }

  &__image-block {
    max-width: 43.625rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: end;
  }

  &__img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
  }

  @media (max-width: abs.$breakpoint-lg) {
    .hero__content {
      flex-direction: column;
      row-gap: 6.25rem;
    }

    &__body {
      align-self: center;
    }

    &__link {
      align-self: center;
    }

    &__content {
      margin-block-start: 9.375rem;
    }

    &__image-block {
      max-width: 35.5rem;
    }
  }
}
