@use "../abstract/" as abs;

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(0.625rem, calc(-4.688rem + 10vw), 3.313rem);

  &__cards {
    width: 100%;
    overflow: hidden;
  }

  &__row {
    display: flex;
    justify-content: center;
    gap: clamp(1.25rem, calc(-7.398rem + 16.279vw), 5.625rem);

    &--grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.875rem 2.5rem;
    }
  }

  &__card {
    max-width: max-content;
    flex: 1 1 33.333%;
    display: flex;
    flex-direction: column;
    font-family: abs.$font-family-heading;
    text-align: center;
    background-color: var(--bg-card);
    border-radius: 0.625rem;
    padding-block-end: 1.875rem;
    overflow: hidden;

    @include abs.hover {
      .slider__link {
        background-color: var(--cta-primary-hover);
        border-color: var(--cta-primary-hover);
      }
    }
  }

  &__img {
    width: 100%;

    img {
      width: 100%;
      max-width: 16.875rem;
      height: auto;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
  }

  &__name {
    margin-block: 1.875rem;
    font-size: var(--font-size-md);
    line-height: 1.2;
    letter-spacing: 0.0625rem;
    color: var(--text-title);
    flex: 1 1 auto;
  }

  &__link {
    align-self: center;
    border: 0.125rem solid var(--cta-primary);
    background-color: transparent;
  }

  &__btn {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.25rem;
    height: 3.25rem;
    background-color: transparent;
    border: 0.125rem solid var(--cta-primary);
    border-radius: 50%;
    @extend %transition;

    @include abs.hover {
      background-color: var(--cta-primary-hover);
      border-color: var(--cta-primary-hover);
    }

    &.active-btn {
      background-color: var(--cta-primary);
    }

    &.disabled-btn {
      border-color: var(--text-muted);
      color: var(--text-muted);
      pointer-events: none;
      opacity: 0.5;
    }
  }

  @media (max-width: abs.$breakpoint-xl) {
    &__row {
      &--grid {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  @media (max-width: abs.$breakpoint-lg) {
    gap: 0.75rem;

    &__row {
      &:not(&--grid) {
        gap: clamp(0.313rem, calc(-2.813rem + 10vw), 2.5rem);

        .slider__card:nth-child(3) {
          display: none;
        }
      }

      &--grid {
        grid-template-columns: repeat(2, max-content);
        justify-content: center;

        .slider__card:nth-child(n + 7) {
          display: none;
        }
      }
    }
  }

  @media (max-width: abs.$breakpoint-sm) {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5rem;

    &__row {
      &:not(&--grid) {
        .slider__card:nth-child(2) {
          display: none;
        }
      }

      &--grid {
        grid-template-columns: max-content;
        gap: 1.875rem;

        .slider__card:nth-child(n + 4) {
          display: none;
        }
      }
    }

    &__cards {
      order: -1;
      width: 100%;
    }
  }
}
