@use "../../abstract/" as abs;

.friends-full {
  background-color: var(--bg-secondary);
  padding-block: 5rem 6.125rem;

  &__row {
    display: flex;
    flex-direction: column;
    row-gap: 3.75rem;
  }

  &__title {
    text-align: center;
  }

  .link {
    padding-block: 0.75rem;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 21.25rem;
    margin-inline: auto;
  }

  @media (max-width: abs.$breakpoint-lg) {
    padding-block-end: 5rem;

    &__row {
      row-gap: 2.5rem;
    }

    &__slider {
      margin-block-start: -0.625rem;
    }
  }

  @media (max-width: abs.$breakpoint-md) {
    padding-block: 2.75rem;

    &__row {
      row-gap: 2.625rem;
    }

    &__slider {
      margin-block-start: auto;
    }

    &__nav {
      column-gap: 0.625rem;
      margin-inline: -0.625rem;
      align-self: center;
    }
  }
}
