.friends-full {
  background-color: var(--bg-secondary);
  margin-block-start: 7.5rem;
  padding-block: 5rem 6.125rem;

  &__title {
    text-align: center;
    margin-block-end: 3.75rem;
  }

  &__slider {
    margin-block-end: 1.875rem;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 21.25rem;
    margin-inline: auto;
  }
}
